{% extends 'base.html' %}

{% block head %}{% endblock %}


{% block body %}

<div class="text">
    <h2> About our project </h2>
    <p>There are around 550 million people living with heart and circulatory diseases across the world – this number has been rising due to changing lifestyles, an ageing and growing population, and improved survival rates from heart attacks and strokes – and will continue to rise if these trends continue.</p>
    <p>Heart and circulatory diseases cause around 1 in 3 (an estimated 34 per cent in 2019) deaths globally; that's 19 million deaths each year - an average of 50,000 people each day or one death every 1.7 seconds. Globally, heart and circulatory diseases killed an estimated 9.8 million men and 9.2 million women in 2019.</p>
    <p>Our main motivation to do this project is to save precious time for people at high risk of suffering a heart attack, the goal of our project is to prevent fatal cases and to notify patients of the seriousness of his situation based on medical indications.</p>
    <p>We have built a risk assessment system for the patients so they don't have to wait or “loose” time while they get the testing results and go again to the doctor so they can check it.</p>
</div>

    
{% endblock %}