{% extends 'base.html' %}

{% block head %}{% endblock %}


{% block body %}
<div class = text>
<h3 id = privacy-statement>this is a privacy statement</h3>
<p>Our company bases the privacy of data use and handling in accordance with the general GDPR laws.
    -For what purposes will we use your personal data?
    The personal data we collect from you will be used for the following purposes that are necessary for the service you request:
    Responding to messages from the contact form, Provision of any requested service.
    Collecting data for databases, Communicating data with other laboratories and medical services, Analysing data collected.
    -What personal data will we use for these purposes?
    In order to carry out the purposes described in this privacy notice, we will use the following personal data:
    Identification and contact data
    Medical data (laboratory results information).
    In addition to the personal data mentioned above, we will use the following personal data considered as sensitive, requiring special protection, for the purposes informed in this privacy notice:
    Health data
    Laboratory results for cardiovascular problems
    -With whom do we share your personal information and for what purposes?
    We inform you that your personal data is shared outside the country with the following persons, companies, organizations or authorities other than us, for the following purposes:
    Both
    The information collected is shared with various laboratories and relevant health centers and hospitals for the purpose of prompt patient care.
    -How can you access, rectify or delete your personal data, or object to its use or exercise revocation of consent?
    You have the right to know what personal data we hold about you, what we use it for and the conditions of the use we make of it (Access). It is also your right to request that we correct your personal information if it is out of date, inaccurate or incomplete (Rectification); to have it removed from our records or databases if you believe it is not being used properly (Cancellation); and to object to the use of your personal data for specific purposes (Opposition). These rights are known as ARCO rights.
    -To exercise any of the ARCO rights, you must send a request via email to hear.assessment@gmail.com and must contain:
    Full name of the holder.
    Address.
    Telephone number.
    E-mail address used on this website.
    Copy of an official ID attached.
    Subject "ARCO Rights".
    Description of the purpose of the letter, which may include but is not limited to the following: Revocation of consent to process your personal data; and/or Notification of the improper use of the processing of your personal data; and/or Exercise your ARCO Rights, with a clear and precise description of the data to be Accessed, Rectified, Cancelled or Opposed. In case of rectification of personal data, you must indicate the exact modification and attach supporting documentation; it is important in case of revocation of consent, please note that not in all cases we can meet your request or terminate the use immediately, since it is possible that for some legal obligation we require to continue processing your personal data. You should also consider that for certain purposes, the revocation of your consent will mean that we will no longer be able to provide you with the service you have requested, or that we will terminate your relationship with us.
    -How long will it take for us to respond to your request?
    5 days
    -By what means will we communicate the response to your request?
    To the same e-mail address from which the request was sent.
    -The use of tracking technologies on our website
    We inform you that on our website we use cookies, web beacons or other technologies, through which it is possible to monitor your behavior as an internet user, as well as to provide you with a better service and experience when browsing our website. The personal data we obtain from these tracking technologies are as follows:
    Age
    Data provided by the user in the form.
    These cookies, web beacons and other technologies can be disabled. To find out how to do this, please consult your browser's help menu. Please note that if you disable cookies, you may not be able to access certain personalized features on our website.
    -How can you find out about changes to this privacy notice?
    This privacy notice may be modified, changed or updated due to new legal requirements; our own needs for the products or services we offer; our privacy practices; changes in our business model, or for other reasons. We are committed to keeping this privacy notice up to date with any changes that may occur and you can always check for updates on the website URL OF THE PAGE
    
    This privacy notice was last updated on 28/10/2022.
    </p>
</div>
{% endblock %}